<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>{{ post.title }}</h1>

<p>{{ post.created_on }}</p>

<p>{{ post.text }}<p>

<h2>Comments</h2>
{% for comment in post.comments %}
    <h3>{{ comment.author.name }}
        <small>on {{ comment.created_on }}</small>
    </h3>
    {{ comment.text }}
{% endfor %}
</body>
</html>