<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Post Overview</h1>
{% for post in post_list %}
    <h2><a href="./post/{{post.id}}">{{ post.title }}</a></h2>
    <p>
        {{ post.id }} |
        {{ post.created_on }} |
        {{ post.comments|length }} comments |
        tagged {{ post.tags|join:', ' }}
    </p>
{% endfor %}

</body>
</html>